<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>リアルタイムチャット</title>
    <!-- socket.ioの読み込み (※8) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Socket.ioのセットアップ (※9)
            const socket = io();

            const fileInput = document.getElementById("file-input")
            const messageInput = document.getElementById('message-input');
            const messageButton = document.getElementById('send-message');
            const messagesList = document.getElementById('messages');
            const cavas = document.getElementById('canvas')

            // 受け取ったメッセージを描画する 
            const appendMessage = message => {
                let li  = document.createElement("li");
                let img = document.createElement("img");
                img.src = "data:image/jpeg;base64," + message["image_data"]
                li.append(img);
                li.appendChild(document.createTextNode(message["message"]));
                messagesList.appendChild(li)
            };

            // サーバーとの接続確立 (※11)
            socket.on('connect', () => {
                socket.emit('load messages');
            });

            // メッセージ全件受信処理 (※12)
            socket.on('load all messages', messages => {
                messagesList.innerHTML = '';
                messages.forEach(appendMessage);
            });

            // メッセージ送信処理 (※13)
            messageButton.addEventListener('click', () => {
                //選択されたファイルを読み込む
                var file = fileInput.files[0];
                var reader = new FileReader();
                var image = new Image();

                reader.onload = function(event) {
                    image.onload = function() {
                        //Canvasを使うための準備
                        var ctx = canvas.getContext('2d');
                        //リサイズ後の上限サイズ
                        var max_size = 400;
                        //リサイズ後のサイズを計算
                        var scale = image.width > image.height? max_size / image.width: max_size / image.height;
                        canvas.width = image.width*scale
                        canvas.height = image.height*scale;
                        //画像をCanvasでリサイズ
                        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                        var imageData = canvas.toDataURL('image/jpeg');

                        socket.emit('send message', {
                            message: messageInput.value,
                            image_name: file.name,
                            image_data: imageData
                        });
                        messageInput.value = '';
                    };
                    image.src = event.target.result;
                };
                reader.readAsDataURL(file);

                return false;
            });

            // メッセージ受信処理 (※14)
            socket.on('load one message', appendMessage);
        });
    </script>
</head>
<body>
    <h1>リアルタイムチャット</h1>
    <ul id="messages"></ul>
    <input type="text" id="message-input" placeholder="メッセージを入力">
    <input type="file" id="file-input">
    <button id="send-message">送信</button>
    <canvas id="canvas" style="display: none;"></canvas>
</body>
</html>
